watsonflow_full.json
[{"id":"855d6228.59653","type":"template","z":"d604d033.b8b52","name":"トップページ","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n\n<head>\n    <title>IBM Watson</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <script src=\"https://unpkg.com/vue\"></script>\n    <script src=\"https://unpkg.com/axios/dist/axios.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/vue-qriously@1.1.1/dist/vue-qriously.min.js\"></script>\n    <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu\"\n        crossorigin=\"anonymous\">\n    \n    <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/sketchy/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-eMbzXAE+yF1x9LEY1wQuBzy7oI6r2HnqXl7QXbke0y9XtaUtCq8O/nPH9qKgLbkN\"\n        crossorigin=\"anonymous\">\n\n\n</head>\n\n<body>\n        \n    <div class=\"container\">\n        <div id=\"app\">\n            <div class=\"row\">\n                <div class=\"col-sm-12\">\n                    <h1> <img src=\"https://pbs.twimg.com/profile_images/1001666050306592768/NboZNkrO_400x400.jpg\" width=\"50\" alt=\"IBM Code Tokyo\" />\n                         Watson Visual Recognition</h1>\n                \n                </div>\n            </div>\n\n\n\n            <div class=\"row\">\n                <div class=\"card border-info col-sm-12 col-md-6\" >\n                    <div class=\"card-header\"> --- Photo --- しゃしん</div>\n                    <div class=\"card-body\" >\n\n                        <div id=\"preview\">\n                            <img v-if=\"fileurl\" :src=\"fileurl\" width=\"300\" />\n                        </div>\n                    </div>\n                </div>\n            </div>\n            <div class=\"row\">\n\n\n                <div class=\"form-group\">\n\n\n\n                    <input type=\"file\" @change=\"onFileChange\" class=\"form-control-file\" name=\"inputFile\" accept=\"image/*\" aria-describedby=\"fileHelp\">\n                    <small id=\"fileHelp\" class=\"form-text text-muted\">↑しゃしんをえらぶか、さつえいしてください</small>\n\n                </div>\n            </div>\n\n\n            <div class=\"row\">\n\n                <button type=\"button\" @click=\"onDetectFaces\" class=\"btn btn-primary\">どんなひと?</button>\n\n\n            </div>\n            <div class=\"row\">\n                    <div class=\"col-sm-5\" v-show=\"loadingDetectFaces\">\n                        <div class=\"progress\">\n                            <div class=\"progress-bar progress-bar-striped  bg-danger progress-bar-animated\" role=\"progressbar\" aria-valuenow=\"100\" aria-valuemin=\"0\"\n                                aria-valuemax=\"100\" style=\"width: 100%\">\n                                Loading......\n                \n                            </div>\n                        </div>\n                    </div>\n                \n                \n                    <div v-show=\"!loadingDetectFaces && displayResults1\" >\n                            <p  v-if=\"!isFace\">\n                                    <span v-html=\"noFaceMassage\"></span>\n                                </p>\n                            <p  v-else>\n\n                                    <table class=\"table table-hover\">\n                                            <thead>\n                                              <tr>\n                                                <th scope=\"col\"> </th>\n                                                <th scope=\"col\">にんしきけっか </th>\n                                                <th scope=\"col\">どのくらいそう思う？ score</th>\n                                                \n                                              </tr>\n                \n                                            </thead>\n                                            <tbody>\n                                                <tr class=\"table-active\">\n                                                    <td>\n                                                        ねんれい\n                                                    </td>\n                                                    <td>\n                                                        <span v-html=\"answerDetectFaces.images[0].faces[0].age.min\"></span>\n                                                        -\n                                                        <span v-html=\"answerDetectFaces.images[0].faces[0].age.max\"></span>\n                                                         \n                                                    </td>\n                                                    <td align=\"center\">\n                                                        <span v-html=\"Math.round(answerDetectFaces.images[0].faces[0].age.score*1000)/10\"></span>&#037;\n                                                    </td>\n                                                </tr>\n                                                <tr class=\"table-active\">\n                                                        <td>\n                                                            せいべつ \n                                                        </td>\n                                                        <td>\n                                                            <span v-html=\"answerDetectFaces.images[0].faces[0].gender.gender\"></span>\n                                                             \n                                                        </td>\n                                                        <td align=\"center\">\n                                                            <span v-html=\"Math.round(answerDetectFaces.images[0].faces[0].gender.score*1000)/10\"></span>&#037;\n                                                        </td>\n                                                    </tr>\n                                            </tbody>\n                                           \n                                    </table>\n                                    *(MALEは男性、FEMALEは女性）\n                                   \n                            </p>\n                    </div>\n             </div>\n    \n            <div class=\"row\">\n                <p> </p>\n            </div>\n            <div class=\"row\">\n                \n                    <button type=\"button\" @click=\"classifyImages\" class=\"btn btn-primary\">なにかな?</button>\n               \n                \n            </div>\n            <div class=\"row\">\n                <div class=\"col-sm-5\" v-show=\"loadingClassifyImages\">\n                    <div class=\"progress\">\n                        <div class=\"progress-bar progress-bar-striped  bg-danger progress-bar-animated\" role=\"progressbar\" aria-valuenow=\"100\" aria-valuemin=\"0\"\n                            aria-valuemax=\"100\" style=\"width: 100%\">\n                            Loading......\n            \n                        </div>\n                    </div>\n                </div>\n            \n            \n                <div v-show=\"!loadingClassifyImages  && displayResults2\" >\n                    \n                   \n\n                    <table class=\"table table-hover\">\n                            <thead>\n                              <tr>\n                                <th scope=\"col\">にんしきけっか class</th>\n                                <th scope=\"col\">どのくらいそう思う？ score</th>\n                                <th scope=\"col\">タイプ type_hierarchy</th>\n                              </tr>\n\n                            </thead>\n                            <tbody>\n                                <tr class=\"table-active\" v-for=\"item in imageClasses\">\n                                    <td>\n                                        <span v-html=\"item.class\"></span>\n                                    </td>\n                                    <td align=\"center\">\n                                        <span v-html=\"Math.round(item.score*1000)/10\"></span>&#037;\n                                    </td>\n                                    <td>\n                                        <span v-html=\"item.type_hierarchy\"></span>\n                                    </td>\n                                </tr>\n                            </tbody>\n                    </table>\n\n                    \n                    \n                </div>\n            </div>\n            <div class=\"row\">\n                    <p> </p>\n                </div>\n            <div class=\"row\">\n\n                    <button type=\"button\" @click=\"classifyCustomImages\" class=\"btn btn-primary\">だれかな? ( ワトソンがお勉強後にできるよ ! )</button>\n    \n            </div>\n\n            <div class=\"row\">\n                    <div class=\"col-sm-5\" v-show=\"loadingClassifyCustomImages\" >\n                        <div class=\"progress\">\n                            <div class=\"progress-bar progress-bar-striped  bg-danger progress-bar-animated\" role=\"progressbar\" aria-valuenow=\"100\" aria-valuemin=\"0\"\n                                aria-valuemax=\"100\" style=\"width: 100%\">\n                                Loading......\n                \n                            </div>\n                        </div>\n                    </div>\n                \n                \n                    <div v-show=\"!loadingClassifyCustomImages && displayResults3\">\n                        <p v-if=\"!isClassified\">\n                            <span v-html=\"noClassMassage\"></span>\n                        </p>\n                        <p v-else>\n                    \n                    \n                    \n                            <table class=\"table table-hover\">\n                                <thead>\n                                    <tr>\n                                        <th scope=\"col\">にんしきけっか class</th>\n                                        <th scope=\"col\">どのくらいそう思う？ score</th>\n                    \n                                    </tr>\n                    \n                                </thead>\n                                <tbody>\n                                    <tr class=\"table-active\" v-for=\"item in imageCustomClasses\">\n                                        <td>\n                                            <span v-html=\"item.class\"></span>\n                                        </td>\n                                        <td align=\"center\">\n                                            <span v-html=\"Math.round(item.score*1000)/10\"></span>&#037;\n                                        </td>\n                                    </tr>\n                                </tbody>\n                            </table>\n                        </p>\n                    \n                    \n                    \n                    </div>\n                </div>\n    \n            <div class=\"row\">\n                <p> </p>\n            </div>\n            \n            <div class=\"row\">\n                <div class=\"col-sm-12\" >\n                    このページのQRコード：<span v-html=\"url_value\"></span>\n                </div>\n                <div class=\"col-sm-12\">\n                    <qriously :value=\"url_value\" />\n                </div>\n\n            </div>\n        </div>\n    </div>\n\n    <script type=\"text/javascript\"> \n        \n\n        var app = new Vue({\n            el: '#app',\n            data: {\n                fileurl: null,\n                url_value: location.href,\n                file: null,\n                loadingClassifyImages: false,\n                answerClassifyImages: null,\n                loadingDetectFaces: false,\n                answerDetectFaces: null,\n                loadingClassifyCustomImages: false,\n                answerClassifyCustomImages: null,\n                displayResults1: false,\n                displayResults2: false,\n                displayResults3: false,\n                isFace: false,\n                noFaceMassage: null,\n                isClassified: false,\n                noClassMassage: null,\n                imageClasses: [],\n                imageCustomClasses: []\n\n                \n            },\n            methods: {\n                \n                onFileChange(e) {\n                    this.file = e.target.files[0];\n                    this.fileurl = URL.createObjectURL(this.file);\n                    this.displayResults1 = false\n                    this.displayResults2 = false\n                    this.displayResults3 = false\n                    this.isFace = false\n                    this.noFaceMassage = null\n                    this.isClassified = false\n                    this.noClassMassage = null\n                    \n\n                },\n                 \n                onDetectFaces(e) {\n                \n                    this.detectFaces();\n                }, \n\n                onClassifyImages(e) {\n                \n                    this.classifyImages();\n                }, \n\n                onClassifyCustomImages(e) {\n                \n                    this.classifyCustomImages();\n                }, \n\n\n                async detectFaces(){\n                    var url =\"./detectFaces\"\n\n                    var params = new FormData();\n\n                    params.append('file', this.file);\n\n                    try {\n                        this.loadingDetectFaces = true\n\n                        const response = await axios.post(url, params)\n                        this.answerDetectFaces = response.data\n                        if (this.answerDetectFaces.images[0].faces.length == 0 ){\n                            this.isFace = false;\n                            this.noFaceMassage = 'ひとのかおじゃないみたいです'\n\n                        } else this.isFace = true;\n                        console.log(response);\n                        console.log(this.answerDetectFaces);\n\n                    } catch(e){\n                        console.log('ERR!');\n                        console.log(e);\n                        this.answer = 'ERR!:' + e\n                    } finally {\n                        this.loadingDetectFaces = false\n                        this.displayResults1 = true\n                    }\n                },\n\n                async classifyImages(){\n                    var url =\"./classifyImages\"\n\n                    var params = new FormData();\n\n                    params.append('file', this.file);\n\n                    try {\n                        this.loadingClassifyImages = true\n\n                        const response = await axios.post(url, params)\n                        this.answerClassifyImages = JSON.stringify(response.data)\n                        this.imageClasses = response.data.images[0].classifiers[0].classes\n                        \n                        this.imageClasses.sort(function(a, b) {\n                            return (b.score > a.score) ? 1 : ((b.score < a.score) ? -1 : 0)\n                        });\n\n                        console.log(response);\n                        console.log(this.answerClassifyImages);\n\n                    } catch(e){\n                        console.log('ERR!');\n                        console.log(e);\n                        this.answer = 'ERR!:' + e\n                    } finally {\n                        this.loadingClassifyImages = false\n                        this.displayResults2 = true\n                    }\n                },\n\n                async classifyCustomImages(){\n                    var url =\"./classifyCustomImages\"\n\n                    var params = new FormData();\n\n                    params.append('file', this.file);\n\n                    try {\n                        this.loadingClassifyCustomImages = true\n\n                        const response = await axios.post(url, params)\n                        this.answerClassifyCustomImages = JSON.stringify(response.data)\n                        this.imageCustomClasses = response.data.images[0].classifiers[0].classes\n                        \n                        this.imageCustomClasses.sort(function(a, b) {\n                            return (b.score > a.score) ? 1 : ((b.score < a.score) ? -1 : 0)\n                        });\n\n                         if (this.imageCustomClasses.length == 0 ){\n                            this.isClassified = false;\n                            this.noClassMassage = 'あてはまるものがなかったです'\n\n                        } else this.isClassified = true;\n                        console.log(response);\n                        console.log(this.answerClassifyCustomImages);\n\n                    } catch(e){\n                        console.log('ERR!');\n                        console.log(e);\n                        this.answer = 'ERR!:' + e\n                    } finally {\n                        this.loadingClassifyCustomImages = false\n                        this.displayResults3 = true\n                    }\n\n                }\n\n\n\n            \n\n            }\n        })\n\n    </script>\n\n</body>\n\n</html>","x":464.02345275878906,"y":98.0390453338623,"wires":[["e13a9df0.614b6"]]},{"id":"6dd21c82.cd7114","type":"http in","z":"d604d033.b8b52","name":"[GET] /watsonvr","url":"/watsonvr","method":"get","upload":false,"swaggerDoc":"","x":111.0234375,"y":96.0390453338623,"wires":[["855d6228.59653"]]},{"id":"e13a9df0.614b6","type":"http response","z":"d604d033.b8b52","name":"http response","statusCode":"","headers":{},"x":725.5234375,"y":98.03904724121094,"wires":[]},{"id":"fad4f4ec.572978","type":"function","z":"d604d033.b8b52","name":"画像とりだし","func":"if (Object.keys(msg.req.body).length == 0){\n    msg.file = msg.req.files[0].buffer;\n} else {\n    msg.file = null;\n}\nmsg.url = msg.req.url;\nmsg.payload = msg.file;\nreturn msg;","outputs":1,"noerr":0,"x":410.02344512939453,"y":333.03905296325684,"wires":[["48d6c84e.744a28"]]},{"id":"fed3303b.dfb35","type":"http in","z":"d604d033.b8b52","name":"[POST] /detectFaces","url":"/detectFaces","method":"post","upload":true,"swaggerDoc":"","x":127.0234375,"y":193.03904914855957,"wires":[["fad4f4ec.572978","759bde5a.81dad"]]},{"id":"fdb8d0cc.7f9b6","type":"json","z":"d604d033.b8b52","name":"","property":"payload","action":"str","pretty":true,"x":634.0234718322754,"y":635.039085149765,"wires":[["76651b07.7eaf24","43b7487d.e48018"]]},{"id":"f39682db.6c1d5","type":"debug","z":"d604d033.b8b52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":1038.0234375,"y":340.0390319824219,"wires":[]},{"id":"76651b07.7eaf24","type":"http response","z":"d604d033.b8b52","name":"http response","x":864.0234375,"y":631.0390625,"wires":[]},{"id":"43b7487d.e48018","type":"debug","z":"d604d033.b8b52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":869.0234375,"y":567.0390625,"wires":[]},{"id":"40f7dd0a.5d0d54","type":"function","z":"d604d033.b8b52","name":"parse","func":"msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":458.0234375,"y":635.0390548706055,"wires":[["fdb8d0cc.7f9b6"]]},{"id":"2650e4b2.c3be9c","type":"http in","z":"d604d033.b8b52","name":"[POST] /classifyCustomImages","url":"/classifyCustomImages","method":"post","upload":true,"swaggerDoc":"","x":160,"y":443.03906059265137,"wires":[["fad4f4ec.572978","759bde5a.81dad"]]},{"id":"82784609.b84178","type":"visual-recognition-v3","z":"d604d033.b8b52","name":"DetectFaces","apikey":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"","x":806.0234375,"y":200.0390625,"wires":[["40f7dd0a.5d0d54","f39682db.6c1d5"]]},{"id":"19c6e20b.e8e65e","type":"http in","z":"d604d033.b8b52","name":"[POST] /classifyImages","url":"/classifyImages","method":"post","upload":true,"swaggerDoc":"","x":135,"y":333.03906023618765,"wires":[["fad4f4ec.572978","759bde5a.81dad"]]},{"id":"759bde5a.81dad","type":"debug","z":"d604d033.b8b52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req","x":513.5390434265137,"y":189.3124828338623,"wires":[]},{"id":"48d6c84e.744a28","type":"switch","z":"d604d033.b8b52","name":"","property":"url","propertyType":"msg","rules":[{"t":"eq","v":"/detectFaces","vt":"str"},{"t":"eq","v":"/classifyImages","vt":"str"},{"t":"eq","v":"/classifyCustomImages","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":599.0312881469727,"y":334.22656059265137,"wires":[["82784609.b84178"],["71e2bcd.8a31b44"],["e3d53d73.89abb"]]},{"id":"71e2bcd.8a31b44","type":"visual-recognition-v3","z":"d604d033.b8b52","name":"classifyImages","apikey":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"ja","x":805.5235900878906,"y":338.0390434265137,"wires":[["40f7dd0a.5d0d54","f39682db.6c1d5"]]},{"id":"e3d53d73.89abb","type":"function","z":"d604d033.b8b52","name":"カスタム認識のパラメータ設定","func":"msg.params = {};\n\n// XXにカスタムモデルのIDをセットします。\nmsg.params.classifier_ids = \"XXXXXXXXXXXX\";\n\n\nmsg.params.threshold = \"0.5\";\nreturn msg;","outputs":1,"noerr":0,"x":545,"y":446.0390911102295,"wires":[["9e2c10fe.71116"]]},{"id":"9e2c10fe.71116","type":"visual-recognition-v3","z":"d604d033.b8b52","name":"Detect Custom","apikey":"","image-feature":"classifyImage","lang":"ja","x":803.0000610351562,"y":447.03905844688416,"wires":[["40f7dd0a.5d0d54","f39682db.6c1d5"]]}]