watsonflow.json
[{"id":"bcc4437f.5e89a","type":"function","z":"8477d402.7888d8","name":"画像とりだし","func":"if (Object.keys(msg.req.body).length == 0){\n    msg.file = msg.req.files[0].buffer;\n} else {\n    msg.file = null;\n}\nmsg.url = msg.req.url;\nmsg.payload = msg.file;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["f82f00a1.73cf"]]},{"id":"bd239504.3fb9c8","type":"json","z":"8477d402.7888d8","name":"","property":"payload","action":"str","pretty":true,"x":624.0000267028809,"y":642.0000321865082,"wires":[["d4cce284.56248","8149f0fd.7d091"]]},{"id":"2bfa4455.0f2b9c","type":"debug","z":"8477d402.7888d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":1010,"y":340,"wires":[]},{"id":"d4cce284.56248","type":"http response","z":"8477d402.7888d8","name":"http response","x":840,"y":640,"wires":[]},{"id":"8149f0fd.7d091","type":"debug","z":"8477d402.7888d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":858.9999923706055,"y":574.0000095367432,"wires":[]},{"id":"cfa2b134.7f70a","type":"function","z":"8477d402.7888d8","name":"parse","func":"msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":447.99999237060547,"y":642.0000019073486,"wires":[["bd239504.3fb9c8"]]},{"id":"d1fd733e.5a2df","type":"http in","z":"8477d402.7888d8","name":"[POST] /classifyCustomImages","url":"/classifyCustomImages","method":"post","upload":true,"swaggerDoc":"","x":149.97655487060547,"y":450.00000762939453,"wires":[["bcc4437f.5e89a","3dced0f3.92268"]]},{"id":"95547b16.821788","type":"http in","z":"8477d402.7888d8","name":"[POST] /classifyImages","url":"/classifyImages","method":"post","upload":true,"swaggerDoc":"","x":124.97655487060547,"y":340.0000072729308,"wires":[["bcc4437f.5e89a","3dced0f3.92268"]]},{"id":"3dced0f3.92268","type":"debug","z":"8477d402.7888d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req","x":503.51559829711914,"y":196.27342987060547,"wires":[]},{"id":"f82f00a1.73cf","type":"switch","z":"8477d402.7888d8","name":"","property":"url","propertyType":"msg","rules":[{"t":"eq","v":"/classifyImages","vt":"str"},{"t":"eq","v":"/classifyCustomImages","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":589.0078430175781,"y":341.18750762939453,"wires":[["f9d93078.772c9"],["77802ced.74b9b4"]]},{"id":"f9d93078.772c9","type":"visual-recognition-v3","z":"8477d402.7888d8","name":"classifyImages","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"ja","x":780,"y":340,"wires":[["cfa2b134.7f70a","2bfa4455.0f2b9c"]]},{"id":"77802ced.74b9b4","type":"function","z":"8477d402.7888d8","name":"カスタム認識のパラメータ設定","func":"msg.params = {};\n\n// foodにカスタムモデルのIDをセットします。\nmsg.params.classifier_ids = \"food\";\n\n\n\nmsg.params.threshold = \"0.5\";\nreturn msg;","outputs":1,"noerr":0,"x":534.9765548706055,"y":453.00003814697266,"wires":[["22ace95a.c8b906"]]},{"id":"22ace95a.c8b906","type":"visual-recognition-v3","z":"8477d402.7888d8","name":"Detect Custom","image-feature":"classifyImage","lang":"ja","x":792.9766159057617,"y":454.0000054836273,"wires":[["cfa2b134.7f70a","2bfa4455.0f2b9c"]]}]