watsonflow_full.json
[{"id":"e5fb3bb2.73a1a8","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"3fd06ead.013372","type":"http in","z":"e5fb3bb2.73a1a8","name":"/watsonvr","url":"/watsonvr","method":"get","upload":false,"swaggerDoc":"","x":90,"y":80,"wires":[["323ee104.982e0e"]]},{"id":"323ee104.982e0e","type":"template","z":"e5fb3bb2.73a1a8","name":"トップページ ","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n\n<head>\n    <title>IBM Watson</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <script src=\"https://unpkg.com/vue\"></script>\n    <script src=\"https://unpkg.com/axios/dist/axios.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/vue-qriously@1.1.1/dist/vue-qriously.min.js\"></script>\n\n    <!--- check and select from https://www.bootstrapcdn.com/bootswatch/ -->\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp\" crossorigin=\"anonymous\"> -->\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf\" crossorigin=\"anonymous\"> -->\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sandstone/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-G3Fme2BM4boCE9tHx9zHvcxaQoAkksPQa/8oyn1Dzqv7gdcXChereUsXGx6LtbqA\" crossorigin=\"anonymous\"> -->\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/materia/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-SYbiks6VdZNAKT8DNoXQZwXAiuUo5/quw6nMKtFlGO/4WwxW86BSTMtgdzzB9JJl\" crossorigin=\"anonymous\"> -->\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-D/7uAka7uwterkSxa2LwZR7RJqH2X6jfmhkJ0vFPGUtPyBMF2WMq9S+f9Ik5jJu1\" crossorigin=\"anonymous\"> -->\n    <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cerulean/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-C++cugH8+Uf86JbNOnQoBweHHAe/wVKN/mb0lTybu/NZ9sEYbd+BbbYtNpWYAsNP\" crossorigin=\"anonymous\">\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/spacelab/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-sZG5VVk41YqhJjYXgJFoRVd3d2AdDgy4oyIytQJMGx/Mizz1N+5bgKQBSCGfKQnP\" crossorigin=\"anonymous\"> -->\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-w6tc0TXjTUnYHwVwGgnYyV12wbRoJQo9iMlC2KdkdmVvntGgzT9jvqNEF/uKaF4m\" crossorigin=\"anonymous\"> -->\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/superhero/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-LS4/wo5Z/8SLpOLHs0IbuPAGOWTx30XSoZJ8o7WKH0UJhRpjXXTpODOjfVnNjeHu\" crossorigin=\"anonymous\"> -->\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k\" crossorigin=\"anonymous\">-->\n</head>\n\n<body>\n        \n    <div class=\"container\">\n        <div id=\"app\">\n            <div class=\"row\">\n                <div class=\"col-sm-12\">\n                    <h1> <img src=\"https://pbs.twimg.com/profile_images/1068415058445664257/97dQDR6b_400x400.jpg\" width=\"50\" alt=\"IBM Code Tokyo\" />\n                         Watson Visual Recognition</h1>\n                \n                </div>\n            </div>\n\n\n\n            <div class=\"row\">\n                <div class=\"card border-info col-sm-12 col-md-6\" >\n                    <div class=\"card-header\"> --- Photo --- 認識させる写真 </div>\n                    <div class=\"card-body\" >\n\n                        <div id=\"preview\">\n                            <img v-if=\"fileurl\" :src=\"fileurl\" width=\"300\" />\n                        </div>\n                    </div>\n                </div>\n            </div>\n            <div class=\"row\">\n\n\n                <div class=\"form-group\">\n\n\n\n                    <input type=\"file\" @change=\"onFileChange\" class=\"form-control-file\" name=\"inputFile\" accept=\"image/*\" aria-describedby=\"fileHelp\">\n                    <small id=\"fileHelp\" class=\"form-text text-muted\">上のボタンをクリックして写真を選ぶか、クリック後カメラボタンをクリックし撮影して上記に写真を表示させてください</small>\n\n                </div>\n            </div>\n\n  \n            <div class=\"row\">\n                <p> </p>\n            </div>\n            <div class=\"row\">\n                \n                    <button type=\"button\" @click=\"classifyImages\" class=\"btn btn-primary\">Watsonで認識（Watson学習済みモデルを利用）</button>\n               \n                \n            </div>\n            <div class=\"row\">\n                <div class=\"col-sm-5\" v-show=\"loadingClassifyImages\">\n                    <div class=\"progress\">\n                        <div class=\"progress-bar progress-bar-striped  bg-danger progress-bar-animated\" role=\"progressbar\" aria-valuenow=\"100\" aria-valuemin=\"0\"\n                            aria-valuemax=\"100\" style=\"width: 100%\">\n                            Loading......\n            \n                        </div>\n                    </div>\n                </div>\n            \n            \n                <div v-show=\"!loadingClassifyImages  && displayResults2\" >\n                    \n                   \n\n                    <table class=\"table table-hover\">\n                            <thead>\n                              <tr>\n                                <th scope=\"col\">認識結果 class</th>\n                                <th scope=\"col\">確信度 score</th>\n                                <th scope=\"col\">タイプ type_hierarchy</th>\n                              </tr>\n\n                            </thead>\n                            <tbody>\n                                <tr scope=\"row\" v-for=\"item in imageClasses\">\n                                    <td>\n                                        <span v-html=\"item.class\"></span>\n                                    </td>\n                                    <td align=\"center\">\n                                        <span v-html=\"Math.round(item.score*1000)/10\"></span>&#037;\n                                    </td>\n                                    <td>\n                                        <span v-html=\"item.type_hierarchy\"></span>\n                                    </td>\n                                </tr>\n                            </tbody>\n                    </table>\n\n                    \n                    \n                </div>\n            </div>\n            <div class=\"row\">\n                    <p> </p>\n                </div>\n            <div class=\"row\">\n\n                    <button type=\"button\" @click=\"classifyCustomImages\" class=\"btn btn-primary\">Watsonで認識（カスタムモデルを利用）</button>\n    \n            </div>\n\n            <div class=\"row\">\n                    <div class=\"col-sm-5\" v-show=\"loadingClassifyCustomImages\" >\n                        <div class=\"progress\">\n                            <div class=\"progress-bar progress-bar-striped  bg-danger progress-bar-animated\" role=\"progressbar\" aria-valuenow=\"100\" aria-valuemin=\"0\"\n                                aria-valuemax=\"100\" style=\"width: 100%\">\n                                Loading......\n                \n                            </div>\n                        </div>\n                    </div>\n                \n                \n                    <div v-show=\"!loadingClassifyCustomImages && displayResults3\">\n                        <p v-if=\"!isClassified\">\n                            <span v-html=\"noClassMassage\"></span>\n                        </p>\n                        <p v-else>\n                    \n                    \n                    \n                            <table class=\"table table-hover\">\n                                <thead>\n                                    <tr>\n                                        <th scope=\"col\">認識結果 class</th>\n                                        <th scope=\"col\">確信度 score</th>\n                    \n                                    </tr>\n                    \n                                </thead>\n                                <tbody>\n                                    <tr scope=\"row\" v-for=\"item in imageCustomClasses\">\n                                        <td>\n                                            <span v-html=\"item.class\"></span>\n                                        </td>\n                                        <td align=\"center\">\n                                            <span v-html=\"Math.round(item.score*1000)/10\"></span>&#037;\n                                        </td>\n                                    </tr>\n                                </tbody>\n                            </table>\n                        </p>\n                    \n                    \n                    \n                    </div>\n                </div>\n    \n            <div class=\"row\">\n                <p> </p>\n            </div>\n            \n            <div class=\"row\">\n                <div class=\"col-sm-12\" >\n                    このページのQRコード：<span v-html=\"url_value\"></span>\n                </div>\n                <div class=\"col-sm-12\">\n                    <qriously :value=\"url_value\" />\n                </div>\n\n            </div>\n        </div>\n    </div>\n\n    <script type=\"text/javascript\"> \n        \n\n        var app = new Vue({\n            el: '#app',\n            data: {\n                fileurl: null,\n                url_value: location.href,\n                file: null,\n                loadingClassifyImages: false,\n                answerClassifyImages: null,\n                loadingClassifyCustomImages: false,\n                answerClassifyCustomImages: null,\n                displayResults2: false,\n                displayResults3: false,\n                isClassified: false,\n                noClassMassage: null,\n                imageClasses: [],\n                imageCustomClasses: []\n\n                \n            },\n            methods: {\n                \n                onFileChange(e) {\n                    this.file = e.target.files[0];\n                    this.fileurl = URL.createObjectURL(this.file);\n                    this.displayResults2 = false\n                    this.displayResults3 = false\n                    this.isClassified = false\n                    this.noClassMassage = null\n                    \n\n                },\n                 \n\n                onClassifyImages(e) {\n                \n                    this.classifyImages();\n                }, \n\n                onClassifyCustomImages(e) {\n                \n                    this.classifyCustomImages();\n                }, \n\n\n                async classifyImages(){\n                    var url =\"./classifyImages\"\n\n                    var params = new FormData();\n\n                    params.append('file', this.file);\n\n                    try {\n                        this.loadingClassifyImages = true\n\n                        const response = await axios.post(url, params)\n                        this.answerClassifyImages = JSON.stringify(response.data)\n                        this.imageClasses = response.data.images[0].classifiers[0].classes\n                        \n                        this.imageClasses.sort(function(a, b) {\n                            return (b.score > a.score) ? 1 : ((b.score < a.score) ? -1 : 0)\n                        });\n\n                        console.log(response);\n                        console.log(this.answerClassifyImages);\n\n                    } catch(e){\n                        console.log('ERR!');\n                        console.log(e);\n                        this.answer = 'ERR!:' + e\n                    } finally {\n                        this.loadingClassifyImages = false\n                        this.displayResults2 = true\n                    }\n                },\n\n                async classifyCustomImages(){\n                    var url =\"./classifyCustomImages\"\n\n                    var params = new FormData();\n\n                    params.append('file', this.file);\n\n                    try {\n                        this.loadingClassifyCustomImages = true\n\n                        const response = await axios.post(url, params)\n                        this.answerClassifyCustomImages = JSON.stringify(response.data)\n                        this.imageCustomClasses = response.data.images[0].classifiers[0].classes\n                        \n                        this.imageCustomClasses.sort(function(a, b) {\n                            return (b.score > a.score) ? 1 : ((b.score < a.score) ? -1 : 0)\n                        });\n\n                         if (this.imageCustomClasses.length == 0 ){\n                            this.isClassified = false;\n                            this.noClassMassage = 'あてはまるものがありませんでした'\n\n                        } else this.isClassified = true;\n                        console.log(response);\n                        console.log(this.answerClassifyCustomImages);\n\n                    } catch(e){\n                        console.log('ERR!');\n                        console.log(e);\n                        this.answer = 'ERR!:' + e\n                    } finally {\n                        this.loadingClassifyCustomImages = false\n                        this.displayResults3 = true\n                    }\n\n                }\n\n\n\n            \n\n            }\n        })\n\n    </script>\n\n</body>\n\n</html>\n","output":"str","x":280,"y":80,"wires":[["fb8137ec.e3fc38"]]},{"id":"fb8137ec.e3fc38","type":"http response","z":"e5fb3bb2.73a1a8","name":"http response","statusCode":"","headers":{},"x":480,"y":80,"wires":[]},{"id":"14441fbc.e3174","type":"function","z":"e5fb3bb2.73a1a8","name":"画像とりだし","func":"if (Object.keys(msg.req.body).length == 0){\n    msg.file = msg.req.files[0].buffer;\n} else {\n    msg.file = null;\n}\nmsg.url = msg.req.url;\nmsg.payload = msg.file;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["3c4d494d.925546"]]},{"id":"77d03678.390928","type":"json","z":"e5fb3bb2.73a1a8","name":"","property":"payload","action":"str","pretty":true,"x":624.0000267028809,"y":642.0000321865082,"wires":[["2a54a04.4c1166","5aec6259.db7f3c"]]},{"id":"74d226b7.27f6c8","type":"debug","z":"e5fb3bb2.73a1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":1010,"y":340,"wires":[]},{"id":"2a54a04.4c1166","type":"http response","z":"e5fb3bb2.73a1a8","name":"http response","x":840,"y":640,"wires":[]},{"id":"5aec6259.db7f3c","type":"debug","z":"e5fb3bb2.73a1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":858.9999923706055,"y":574.0000095367432,"wires":[]},{"id":"518bcbb.9e58e34","type":"function","z":"e5fb3bb2.73a1a8","name":"parse","func":"msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":447.99999237060547,"y":642.0000019073486,"wires":[["77d03678.390928"]]},{"id":"8ffe2da0.85bb4","type":"http in","z":"e5fb3bb2.73a1a8","name":"[POST] /classifyCustomImages","url":"/classifyCustomImages","method":"post","upload":true,"swaggerDoc":"","x":149.97655487060547,"y":450.00000762939453,"wires":[["14441fbc.e3174","9e9ef22c.09db7"]]},{"id":"4b4a71d.a031f9","type":"http in","z":"e5fb3bb2.73a1a8","name":"[POST] /classifyImages","url":"/classifyImages","method":"post","upload":true,"swaggerDoc":"","x":124.97655487060547,"y":340.0000072729308,"wires":[["14441fbc.e3174","9e9ef22c.09db7"]]},{"id":"9e9ef22c.09db7","type":"debug","z":"e5fb3bb2.73a1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req","x":503.51559829711914,"y":196.27342987060547,"wires":[]},{"id":"3c4d494d.925546","type":"switch","z":"e5fb3bb2.73a1a8","name":"","property":"url","propertyType":"msg","rules":[{"t":"eq","v":"/classifyImages","vt":"str"},{"t":"eq","v":"/classifyCustomImages","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":589.0078430175781,"y":341.18750762939453,"wires":[["3bd32f32.c5b73"],["f7693be1.f75378"]]},{"id":"3bd32f32.c5b73","type":"visual-recognition-v3","z":"e5fb3bb2.73a1a8","name":"classifyImages","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"ja","x":780,"y":340,"wires":[["518bcbb.9e58e34","74d226b7.27f6c8"]]},{"id":"f7693be1.f75378","type":"function","z":"e5fb3bb2.73a1a8","name":"カスタム認識のパラメータ設定","func":"msg.params = {};\n\n// foodにカスタムモデルのIDをセットします。\nmsg.params.classifier_ids = \"food\";\n\n\n\nmsg.params.threshold = \"0.5\";\nreturn msg;","outputs":1,"noerr":0,"x":534.9765548706055,"y":453.00003814697266,"wires":[["fc15e261.630bc"]]},{"id":"fc15e261.630bc","type":"visual-recognition-v3","z":"e5fb3bb2.73a1a8","name":"Detect Custom","image-feature":"classifyImage","lang":"ja","x":792.9766159057617,"y":454.0000054836273,"wires":[["518bcbb.9e58e34","74d226b7.27f6c8"]]}]