watsonflow.json
[{"id":"b9f4a26.c4ff66","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"edc9a24b.d306f","type":"http in","z":"b9f4a26.c4ff66","name":"/watsonvr","url":"/watsonvr","method":"get","upload":false,"swaggerDoc":"","x":90,"y":80,"wires":[["385c7c8e.17f4f4"]]},{"id":"385c7c8e.17f4f4","type":"template","z":"b9f4a26.c4ff66","name":"トップページ ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\n<head>\n    <title>IBM Watson</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <script src=\"https://unpkg.com/vue\"></script>\n    <script src=\"https://unpkg.com/axios/dist/axios.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/vue-qriously@1.1.1/dist/vue-qriously.min.js\"></script>\n    <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/sketchy/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-eMbzXAE+yF1x9LEY1wQuBzy7oI6r2HnqXl7QXbke0y9XtaUtCq8O/nPH9qKgLbkN\"\n        crossorigin=\"anonymous\">\n        \n\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/flatly/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-gJWVjz180MvwCrGGkC4xE5FjhWkTxHIR/+GgT8j2B3KKMgh6waEjPgzzh7lL7JZT\" crossorigin=\"anonymous\"> -->\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/sandstone/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-CfCAYEgrdtRrpvjGKxoaRy5ge1ggMbxNSpEkY+XqdfdRTUkRrYZVB2z99E7BsEDZ\" crossorigin=\"anonymous\"> -->\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/materia/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-5bFGNjwF8onKXzNbIcKR8ABhxicw+SC1sjTh6vhSbIbtVgUuVTm2qBZ4AaHc7Xr9\" crossorigin=\"anonymous\"> -->\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/litera/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-JuAGGg3c8UPrWdf0N8ZPJyOHkACruI9+mbl0C+H6XSYOqv9xIdiUSKehRyA8jUol\" crossorigin=\"anonymous\"> -->\n    <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cerulean/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-qVp3sGZJcZdk20BIG6O0Sb0sYRyedif3+Z8bZtQueBW/g7Dp67a0XdiMmmWCCm82\" crossorigin=\"anonymous\">\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/spacelab/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-Xz7cmOriFCe/JvTrkgJ3kkDsR1J/mZw7hflmvRq74Mv5W7LwSyl07d/xLcs4CrRe\" crossorigin=\"anonymous\"> -->\n    <!-- <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/yeti/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-MEq8xmFd953gp2FVvLd8DUEvfBjGCzDjem+gmDqfyyWcaxX4BUD7TtSu1EszNTvK\" crossorigin=\"anonymous\"> -->\n</head>\n\n<body>\n        \n    <div class=\"container\">\n        <div id=\"app\">\n            <div class=\"row\">\n                <div class=\"col-sm-12\">\n                    <h1> <img src=\"https://pbs.twimg.com/profile_images/1034839332605972480/9xT-TdbW_400x400.jpg\" width=\"50\" alt=\"IBM Developer\" />\n                         Watson Visual Recognition</h1>\n                \n                </div>\n            </div>\n\n\n\n            <div class=\"row\">\n                <div class=\"card border-info col-sm-12 col-md-6\" >\n                    <div class=\"card-header\"> --- Photo --- 認識させる写真 </div>\n                    <div class=\"card-body\" >\n\n                        <div id=\"preview\">\n                            <img v-if=\"fileurl\" :src=\"fileurl\" width=\"300\" />\n                        </div>\n                    </div>\n                </div>\n            </div>\n            <div class=\"row\">\n\n\n                <div class=\"form-group\">\n\n\n\n                    <input type=\"file\" @change=\"onFileChange\" class=\"form-control-file\" name=\"inputFile\" accept=\"image/*\" aria-describedby=\"fileHelp\">\n                    <small id=\"fileHelp\" class=\"form-text text-muted\">上のボタンをクリックして写真を選ぶか、クリック後カメラボタンをクリックし撮影して上記に写真を表示させてください</small>\n\n                </div>\n            </div>\n\n\n            <div class=\"row\">\n\n                <button type=\"button\" @click=\"onDetectFaces\" class=\"btn btn-primary\">Watson 年齢・性別の判定</button>\n\n\n            </div>\n            <div class=\"row\">\n                    <div class=\"col-sm-5\" v-show=\"loadingDetectFaces\">\n                        <div class=\"progress\">\n                            <div class=\"progress-bar progress-bar-striped  bg-danger progress-bar-animated\" role=\"progressbar\" aria-valuenow=\"100\" aria-valuemin=\"0\"\n                                aria-valuemax=\"100\" style=\"width: 100%\">\n                                Loading......\n                \n                            </div>\n                        </div>\n                    </div>\n                \n                \n                    <div v-show=\"!loadingDetectFaces && displayResults1\" >\n                            <p  v-if=\"!isFace\">\n                                    <span v-html=\"noFaceMassage\"></span>\n                                </p>\n                            <p  v-else>\n\n                                    <table class=\"table table-hover\">\n                                            <thead>\n                                              <tr>\n                                                <th scope=\"col\"> </th>\n                                                <th scope=\"col\">認識結果 </th>\n                                                <th scope=\"col\">確信度 score</th>\n                                                \n                                              </tr>\n                \n                                            </thead>\n                                            <tbody>\n                                                <tr scope=\"row\">\n                                                    <td>\n                                                        年齢\n                                                    </td>\n                                                    <td>\n                                                        <span v-html=\"answerDetectFaces.images[0].faces[0].age.min\"></span>\n                                                        -\n                                                        <span v-html=\"answerDetectFaces.images[0].faces[0].age.max\"></span>\n                                                         \n                                                    </td>\n                                                    <td align=\"center\">\n                                                        <span v-html=\"Math.round(answerDetectFaces.images[0].faces[0].age.score*1000)/10\"></span>&#037;\n                                                    </td>\n                                                </tr>\n                                                <tr class=scope=\"row\">\n                                                        <td>\n                                                            性別 \n                                                        </td>\n                                                        <td>\n                                                            <span v-html=\"answerDetectFaces.images[0].faces[0].gender.gender\"></span>\n                                                             \n                                                        </td>\n                                                        <td align=\"center\">\n                                                            <span v-html=\"Math.round(answerDetectFaces.images[0].faces[0].gender.score*1000)/10\"></span>&#037;\n                                                        </td>\n                                                    </tr>\n                                            </tbody>\n                                           \n                                    </table>\n                                    *(MALEは男性、FEMALEは女性）\n                                   \n                            </p>\n                    </div>\n             </div>\n    \n            <div class=\"row\">\n                <p> </p>\n            </div>\n            <div class=\"row\">\n                \n                    <button type=\"button\" @click=\"classifyImages\" class=\"btn btn-primary\">Watsonで認識（Watson学習済みモデルを利用）</button>\n               \n                \n            </div>\n            <div class=\"row\">\n                <div class=\"col-sm-5\" v-show=\"loadingClassifyImages\">\n                    <div class=\"progress\">\n                        <div class=\"progress-bar progress-bar-striped  bg-danger progress-bar-animated\" role=\"progressbar\" aria-valuenow=\"100\" aria-valuemin=\"0\"\n                            aria-valuemax=\"100\" style=\"width: 100%\">\n                            Loading......\n            \n                        </div>\n                    </div>\n                </div>\n            \n            \n                <div v-show=\"!loadingClassifyImages  && displayResults2\" >\n                    \n                   \n\n                    <table class=\"table table-hover\">\n                            <thead>\n                              <tr>\n                                <th scope=\"col\">認識結果 class</th>\n                                <th scope=\"col\">確信度 score</th>\n                                <th scope=\"col\">タイプ type_hierarchy</th>\n                              </tr>\n\n                            </thead>\n                            <tbody>\n                                <tr scope=\"row\" v-for=\"item in imageClasses\">\n                                    <td>\n                                        <span v-html=\"item.class\"></span>\n                                    </td>\n                                    <td align=\"center\">\n                                        <span v-html=\"Math.round(item.score*1000)/10\"></span>&#037;\n                                    </td>\n                                    <td>\n                                        <span v-html=\"item.type_hierarchy\"></span>\n                                    </td>\n                                </tr>\n                            </tbody>\n                    </table>\n\n                    \n                    \n                </div>\n            </div>\n            <div class=\"row\">\n                    <p> </p>\n                </div>\n            <div class=\"row\">\n\n                    <button type=\"button\" @click=\"classifyCustomImages\" class=\"btn btn-primary\">Watsonで認識（カスタム学習モデルを利用）</button>\n    \n            </div>\n\n            <div class=\"row\">\n                    <div class=\"col-sm-5\" v-show=\"loadingClassifyCustomImages\" >\n                        <div class=\"progress\">\n                            <div class=\"progress-bar progress-bar-striped  bg-danger progress-bar-animated\" role=\"progressbar\" aria-valuenow=\"100\" aria-valuemin=\"0\"\n                                aria-valuemax=\"100\" style=\"width: 100%\">\n                                Loading......\n                \n                            </div>\n                        </div>\n                    </div>\n                \n                \n                    <div v-show=\"!loadingClassifyCustomImages && displayResults3\">\n                        <p v-if=\"!isClassified\">\n                            <span v-html=\"noClassMassage\"></span>\n                        </p>\n                        <p v-else>\n                    \n                    \n                    \n                            <table class=\"table table-hover\">\n                                <thead>\n                                    <tr>\n                                        <th scope=\"col\">認識結果 class</th>\n                                        <th scope=\"col\">確信度 score</th>\n                    \n                                    </tr>\n                    \n                                </thead>\n                                <tbody>\n                                    <tr scope=\"row\" v-for=\"item in imageCustomClasses\">\n                                        <td>\n                                            <span v-html=\"item.class\"></span>\n                                        </td>\n                                        <td align=\"center\">\n                                            <span v-html=\"Math.round(item.score*1000)/10\"></span>&#037;\n                                        </td>\n                                    </tr>\n                                </tbody>\n                            </table>\n                        </p>\n                    \n                    \n                    \n                    </div>\n                </div>\n    \n            <div class=\"row\">\n                <p> </p>\n            </div>\n            \n            <div class=\"row\">\n                <div class=\"col-sm-12\" >\n                    このページのQRコード：<span v-html=\"url_value\"></span>\n                </div>\n                <div class=\"col-sm-12\">\n                    <qriously :value=\"url_value\" />\n                </div>\n\n            </div>\n        </div>\n    </div>\n\n    <script type=\"text/javascript\"> \n        \n\n        var app = new Vue({\n            el: '#app',\n            data: {\n                fileurl: null,\n                url_value: location.href,\n                file: null,\n                loadingClassifyImages: false,\n                answerClassifyImages: null,\n                loadingDetectFaces: false,\n                answerDetectFaces: null,\n                loadingClassifyCustomImages: false,\n                answerClassifyCustomImages: null,\n                displayResults1: false,\n                displayResults2: false,\n                displayResults3: false,\n                isFace: false,\n                noFaceMassage: null,\n                isClassified: false,\n                noClassMassage: null,\n                imageClasses: [],\n                imageCustomClasses: []\n\n                \n            },\n            methods: {\n                \n                onFileChange(e) {\n                    this.file = e.target.files[0];\n                    this.fileurl = URL.createObjectURL(this.file);\n                    this.displayResults1 = false\n                    this.displayResults2 = false\n                    this.displayResults3 = false\n                    this.isFace = false\n                    this.noFaceMassage = null\n                    this.isClassified = false\n                    this.noClassMassage = null\n                    \n\n                },\n                 \n                onDetectFaces(e) {\n                \n                    this.detectFaces();\n                }, \n\n                onClassifyImages(e) {\n                \n                    this.classifyImages();\n                }, \n\n                onClassifyCustomImages(e) {\n                \n                    this.classifyCustomImages();\n                }, \n\n\n                async detectFaces(){\n                    var url =\"./detectFaces\"\n\n                    var params = new FormData();\n\n                    params.append('file', this.file);\n\n                    try {\n                        this.loadingDetectFaces = true\n\n                        const response = await axios.post(url, params)\n                        this.answerDetectFaces = response.data\n                        if (this.answerDetectFaces.images[0].faces.length == 0 ){\n                            this.isFace = false;\n                            this.noFaceMassage = '人の顔が検出できませんでした'\n\n                        } else this.isFace = true;\n                        console.log(response);\n                        console.log(this.answerDetectFaces);\n\n                    } catch(e){\n                        console.log('ERR!');\n                        console.log(e);\n                        this.answer = 'ERR!:' + e\n                    } finally {\n                        this.loadingDetectFaces = false\n                        this.displayResults1 = true\n                    }\n                },\n\n                async classifyImages(){\n                    var url =\"./classifyImages\"\n\n                    var params = new FormData();\n\n                    params.append('file', this.file);\n\n                    try {\n                        this.loadingClassifyImages = true\n\n                        const response = await axios.post(url, params)\n                        this.answerClassifyImages = JSON.stringify(response.data)\n                        this.imageClasses = response.data.images[0].classifiers[0].classes\n                        \n                        this.imageClasses.sort(function(a, b) {\n                            return (b.score > a.score) ? 1 : ((b.score < a.score) ? -1 : 0)\n                        });\n\n                        console.log(response);\n                        console.log(this.answerClassifyImages);\n\n                    } catch(e){\n                        console.log('ERR!');\n                        console.log(e);\n                        this.answer = 'ERR!:' + e\n                    } finally {\n                        this.loadingClassifyImages = false\n                        this.displayResults2 = true\n                    }\n                },\n\n                async classifyCustomImages(){\n                    var url =\"./classifyCustomImages\"\n\n                    var params = new FormData();\n\n                    params.append('file', this.file);\n\n                    try {\n                        this.loadingClassifyCustomImages = true\n\n                        const response = await axios.post(url, params)\n                        this.answerClassifyCustomImages = JSON.stringify(response.data)\n                        this.imageCustomClasses = response.data.images[0].classifiers[0].classes\n                        \n                        this.imageCustomClasses.sort(function(a, b) {\n                            return (b.score > a.score) ? 1 : ((b.score < a.score) ? -1 : 0)\n                        });\n\n                         if (this.imageCustomClasses.length == 0 ){\n                            this.isClassified = false;\n                            this.noClassMassage = 'あてはまるものがありませんでした'\n\n                        } else this.isClassified = true;\n                        console.log(response);\n                        console.log(this.answerClassifyCustomImages);\n\n                    } catch(e){\n                        console.log('ERR!');\n                        console.log(e);\n                        this.answer = 'ERR!:' + e\n                    } finally {\n                        this.loadingClassifyCustomImages = false\n                        this.displayResults3 = true\n                    }\n\n                }\n\n\n\n            \n\n            }\n        })\n\n    </script>\n\n</body>\n\n</html>","output":"str","x":280,"y":80,"wires":[["e855ea93.240858"]]},{"id":"e855ea93.240858","type":"http response","z":"b9f4a26.c4ff66","name":"http response","statusCode":"","headers":{},"x":480,"y":80,"wires":[]},{"id":"21e00179.e6eb6e","type":"function","z":"b9f4a26.c4ff66","name":"画像とりだし","func":"if (Object.keys(msg.req.body).length == 0){\n    msg.file = msg.req.files[0].buffer;\n} else {\n    msg.file = null;\n}\nmsg.url = msg.req.url;\nmsg.payload = msg.file;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["ae50bce0.75e37"]]},{"id":"abd535b3.31f838","type":"http in","z":"b9f4a26.c4ff66","name":"[POST] /detectFaces","url":"/detectFaces","method":"post","upload":true,"swaggerDoc":"","x":116.99999237060547,"y":199.99999618530273,"wires":[["21e00179.e6eb6e","84b6b7f4.e2b708"]]},{"id":"97c1286d.9b5a58","type":"json","z":"b9f4a26.c4ff66","name":"","property":"payload","action":"str","pretty":true,"x":624.0000267028809,"y":642.0000321865082,"wires":[["39ad0e6e.f48a02","47903bcd.272cb4"]]},{"id":"97203353.e8459","type":"debug","z":"b9f4a26.c4ff66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":1027.9999923706055,"y":346.99997901916504,"wires":[]},{"id":"39ad0e6e.f48a02","type":"http response","z":"b9f4a26.c4ff66","name":"http response","x":853.9999923706055,"y":638.0000095367432,"wires":[]},{"id":"47903bcd.272cb4","type":"debug","z":"b9f4a26.c4ff66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":858.9999923706055,"y":574.0000095367432,"wires":[]},{"id":"52656a77.ef1504","type":"function","z":"b9f4a26.c4ff66","name":"parse","func":"msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":447.99999237060547,"y":642.0000019073486,"wires":[["97c1286d.9b5a58"]]},{"id":"83b8e8c8.b59af8","type":"http in","z":"b9f4a26.c4ff66","name":"[POST] /classifyCustomImages","url":"/classifyCustomImages","method":"post","upload":true,"swaggerDoc":"","x":149.97655487060547,"y":450.00000762939453,"wires":[["21e00179.e6eb6e","84b6b7f4.e2b708"]]},{"id":"bc9068f2.fafba8","type":"visual-recognition-v3","z":"b9f4a26.c4ff66","name":"DetectFaces","apikey":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"","x":795.9999923706055,"y":207.00000953674316,"wires":[["52656a77.ef1504","97203353.e8459"]]},{"id":"6a18a1ed.572cd","type":"http in","z":"b9f4a26.c4ff66","name":"[POST] /classifyImages","url":"/classifyImages","method":"post","upload":true,"swaggerDoc":"","x":124.97655487060547,"y":340.0000072729308,"wires":[["21e00179.e6eb6e","84b6b7f4.e2b708"]]},{"id":"84b6b7f4.e2b708","type":"debug","z":"b9f4a26.c4ff66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req","x":503.51559829711914,"y":196.27342987060547,"wires":[]},{"id":"ae50bce0.75e37","type":"switch","z":"b9f4a26.c4ff66","name":"","property":"url","propertyType":"msg","rules":[{"t":"eq","v":"/detectFaces","vt":"str"},{"t":"eq","v":"/classifyImages","vt":"str"},{"t":"eq","v":"/classifyCustomImages","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":589.0078430175781,"y":341.18750762939453,"wires":[["bc9068f2.fafba8"],["492533ca.09331c"],["e1e2efe.ae2761"]]},{"id":"492533ca.09331c","type":"visual-recognition-v3","z":"b9f4a26.c4ff66","name":"classifyImages","apikey":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"ja","x":795.5001449584961,"y":344.99999046325684,"wires":[["52656a77.ef1504","97203353.e8459"]]},{"id":"e1e2efe.ae2761","type":"function","z":"b9f4a26.c4ff66","name":"カスタム認識のパラメータ設定","func":"msg.params = {};\n\n// XXにカスタムモデルのIDをセットします。\nmsg.params.classifier_ids = \"XXXXXXXXXXXX\";\n\n\n\nmsg.params.threshold = \"0.5\";\nreturn msg;","outputs":1,"noerr":0,"x":534.9765548706055,"y":453.00003814697266,"wires":[["3cdcb110.08b4ee"]]},{"id":"3cdcb110.08b4ee","type":"visual-recognition-v3","z":"b9f4a26.c4ff66","name":"Detect Custom","apikey":"","image-feature":"classifyImage","lang":"ja","x":792.9766159057617,"y":454.0000054836273,"wires":[["52656a77.ef1504","97203353.e8459"]]}]
