watsonflow.json
[{"id":"2739be18.24d312","type":"function","z":"89cbe872.5fe6f8","name":"画像とりだし","func":"if (Object.keys(msg.req.body).length == 0){\n    msg.file = msg.req.files[0].buffer;\n} else {\n    msg.file = null;\n}\nmsg.url = msg.req.url;\nmsg.payload = msg.file;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["48564a55.2bb194"]]},{"id":"1281ec8d.64ed03","type":"http in","z":"89cbe872.5fe6f8","name":"[POST] /detectFaces","url":"/detectFaces","method":"post","upload":true,"swaggerDoc":"","x":116.99999237060547,"y":199.99999618530273,"wires":[["2739be18.24d312","7764b049.a0fd4"]]},{"id":"64ee26f3.1171c8","type":"json","z":"89cbe872.5fe6f8","name":"","property":"payload","action":"str","pretty":true,"x":624.0000267028809,"y":642.0000321865082,"wires":[["c52b5afc.135ba8","b72ea0d1.defec"]]},{"id":"aa6d4f38.18933","type":"debug","z":"89cbe872.5fe6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":1027.9999923706055,"y":346.99997901916504,"wires":[]},{"id":"c52b5afc.135ba8","type":"http response","z":"89cbe872.5fe6f8","name":"http response","x":853.9999923706055,"y":638.0000095367432,"wires":[]},{"id":"b72ea0d1.defec","type":"debug","z":"89cbe872.5fe6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":858.9999923706055,"y":574.0000095367432,"wires":[]},{"id":"208b356c.edb5fa","type":"function","z":"89cbe872.5fe6f8","name":"parse","func":"msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":447.99999237060547,"y":642.0000019073486,"wires":[["64ee26f3.1171c8"]]},{"id":"5f75cd6.3dc5934","type":"http in","z":"89cbe872.5fe6f8","name":"[POST] /classifyCustomImages","url":"/classifyCustomImages","method":"post","upload":true,"swaggerDoc":"","x":149.97655487060547,"y":450.00000762939453,"wires":[["2739be18.24d312","7764b049.a0fd4"]]},{"id":"40fa272f.49e978","type":"visual-recognition-v3","z":"89cbe872.5fe6f8","name":"DetectFaces","apikey":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"","x":795.9999923706055,"y":207.00000953674316,"wires":[["208b356c.edb5fa","aa6d4f38.18933"]]},{"id":"5ec339ad.75f488","type":"http in","z":"89cbe872.5fe6f8","name":"[POST] /classifyImages","url":"/classifyImages","method":"post","upload":true,"swaggerDoc":"","x":124.97655487060547,"y":340.0000072729308,"wires":[["2739be18.24d312","7764b049.a0fd4"]]},{"id":"7764b049.a0fd4","type":"debug","z":"89cbe872.5fe6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req","x":503.51559829711914,"y":196.27342987060547,"wires":[]},{"id":"48564a55.2bb194","type":"switch","z":"89cbe872.5fe6f8","name":"","property":"url","propertyType":"msg","rules":[{"t":"eq","v":"/detectFaces","vt":"str"},{"t":"eq","v":"/classifyImages","vt":"str"},{"t":"eq","v":"/classifyCustomImages","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":589.0078430175781,"y":341.18750762939453,"wires":[["40fa272f.49e978"],["971ddf90.e05d5"],["1e66c3ab.3b4f1c"]]},{"id":"971ddf90.e05d5","type":"visual-recognition-v3","z":"89cbe872.5fe6f8","name":"classifyImages","apikey":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"ja","x":795.5001449584961,"y":344.99999046325684,"wires":[["208b356c.edb5fa","aa6d4f38.18933"]]},{"id":"1e66c3ab.3b4f1c","type":"function","z":"89cbe872.5fe6f8","name":"カスタム認識のパラメータ設定","func":"msg.params = {};\n\n// XXにカスタムモデルのIDをセットします。\nmsg.params.classifier_ids = \"XXXXXXXXXXXX\";\n\n\n\nmsg.params.threshold = \"0.5\";\nreturn msg;","outputs":1,"noerr":0,"x":534.9765548706055,"y":453.00003814697266,"wires":[["b787eb3e.cb9c28"]]},{"id":"b787eb3e.cb9c28","type":"visual-recognition-v3","z":"89cbe872.5fe6f8","name":"Detect Custom","apikey":"","image-feature":"classifyImage","lang":"ja","x":792.9766159057617,"y":454.0000054836273,"wires":[["208b356c.edb5fa","aa6d4f38.18933"]]}]